<html ng-app="RockID">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="my_css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

  <script type="text/javascript" src="rock.js"></script>
  <link rel="stylesheet" type="text/css" href="my_css.css">

  <title>RockID</title>
</head>
<body ng-controller="RockCtrl">
  <!-- <div class="navbar navbar-inverse"> -->
  <div class="mt-5 container-fluid text-center">
    <div class="page-header">
      <h1>Rock ID</h1>
    </div>
    <div class="rock-info">
      <p>{{rockType}}</p>
      <p>{{sedComp}}</p>
      <p>{{texture}}</p>
      <p>{{composition}}</p>
      <p><strong>{{rockName}}</strong></p>
      <a ng-href="{{url}}" target="_blank">{{url}} </a>
    </div>
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-vanilla" ng-click='itemClick(item)' ng-repeat="item in items">{{item}}</button>
    </div>
    <div>
      <button type="button" class="btn btn-danger mt-4 mb-4 " ng-click='reset()'>reset</button>
    </div>
  </div>
<!-- </div> -->
</body>
</html>
